* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #fc990d;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.menu .bloco1 {
    display: flex;
    align-items: center;
}

.menu a {
    margin-right: 20px;
    font-size: 40px;
    color: white;
    font-style: italic;
    text-decoration: none;
}

.menu-hamburguer{
    width: 24px;
    cursor: pointer;
    margin-top: 2px;
}

.menu-hamburguer span {
    height: 3px;
    width: 100%;
    display: block;
    margin-bottom: 4px;
    background-color: white;
}

.menu img {
    height: 32px;
}

nav {
    background-color: #fc990d;
    display: none;
}

nav  li {
    float: left;
    margin-right: 20px;
    list-style: none;
    padding: 8px;
    margin-left: 20px;
}

nav li:hover {
    border-top: 2px solid #ffe421;
}

.clear-left {
    clear: left;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

section {
    margin-top: 40px;
}

.sobre {
    display: flex;
}

.sobre h2 {
    color: #fc990d;
}

.sobre img {
    width: 48%;
    margin-right: 4%;
}

.sobre .descricao {
    width: 48%;
}

.produtos {
    display: block;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1.33%;
}

section h2 {
    margin-bottom: 20px;
    color: #fc990d;
}

.produto {
    position: relative;
}

.produto img{
    max-width: 100%;
}

.produto h3,p,img {
    margin-bottom: 12px;
}

.produto p {
    font-size: 0.8em;
}

.produto h3 {
    color: #fc990d;
}

.produto button {
    padding: 8px;
    background-color: #fc990d;
    border: none;
    border-radius: 16px;
    color: white;
    cursor: pointer;
}

footer {
    margin-top: 40px;
    padding: 8px;
    background-color: #fc990d;
    color: white;
}

.carrinhoSection {
    margin-top: 40px;
}

table {
    width: 100%;
}

thead  td {
    color: black;
    font-weight: bold;
    border-bottom: 4px solid #fc990d;
    padding: 8px;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 90%;
    }

    .menu-hamburguer {
        display: none;
    }

    nav {
        display: block;
    }
    
    .bloco2 {
        margin-top: 5%;
    }

    .sobre {
        display: block;
    }

    .sobre img {
        width: 90%;
        margin-right: 0%;
    }

    .produtos {
        display: block;
    }

    .produto {
        margin-bottom: 20%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .produtos {
        grid-template-columns: repeat(2, 49%);
        column-gap: 1%;
        row-gap: 5%;
    }

    .produto {
        margin-bottom: 10%;
    }

    .produto button {
        width: 80%;
        height: 10%;
    }
}